@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

@theme {
    --color-primary-gray: #718096; /* text-gray-600 */
    --color-secondary-gray: #374151; /* text-gray-700 */
    --color-primary-green: #38a169; /* text-green-600 */
    --color-secondary-green: #388E3C; /* text-green-700 */
}